*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(180deg, #5c5470, #352f44 10%);
  background-repeat: no-repeat;
  height: 100vh;
}

i:hover {
  animation: rotate 1s infinite forwards;
}

header {
  padding: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  font-size: 3rem;
  color: #faf0e6;
}

header button {
  all: unset;
  font-size: 3rem;
  color: #faf0e6;
  padding: 10px;
  cursor: pointer;
}

main {
  height: 90vh;
  display: grid;
  grid-template-columns: 15vw 85vw;
  gap: 20px;
}

main aside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column-reverse;
  font-size: 2.5rem;
  color: #faf0e6;
  position: relative;
  --indi: 33%;
}

main aside::before {
  content: "";
  position: absolute;
  width: 1px;
  height: var(--indi);
  background-color: #b9b4c7;
  right: 0;
  bottom: 0;
  transition: 1s;
}

main aside div {
  cursor: pointer;
}

main .game-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(85vw - 20px);
}
/* calculate available area depending on orintation */

main .game-area .cards {
  display: grid;
  gap: 10px;
}

main .game-area .cards .card {
  background-color: #352f44;
  color: #faf0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 1rem;
  border: 1px solid #5c5470;
  margin: auto;
  transition: 0.3s;
  font-size: 3rem;
  cursor: pointer;
  transform-origin: center;
}

.flipped {
  transform: rotateY(180deg);
}

div.correct {
  transform: rotateY(180deg);
  box-shadow: 0 0 10px 1px #faf0e6;
  animation: pulse 2s ease-in-out infinite forwards;
}

.no-click {
  pointer-events: none;
}

@media (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
  main {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 85vh;
    gap: 20px;
  }

  main aside {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 2.5rem;
    color: #faf0e6;
    position: relative;
  }

  main aside::before {
    content: "";
    position: absolute;
    height: 1px;
    width: var(--indi);
    background-color: #b9b4c7;
    bottom: 0;
    left: 0;
    transition: 1s;
  }

  main .game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}

@keyframes rotate {
  100% {
    rotate: -360deg;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 1px #faf0e6;
  }
  50% {
    box-shadow: 0 0 0 0 #faf0e6;
  }
  100% {
    box-shadow: 0 0 10px 1px #faf0e6;
  }
}
